img {
    max-width: 100%;
}

/* ESTILOS DE LOS TARJETAS DE LOS PRODUCTOS ⬇️ */
#tit-produ{
    color: #212529;
}

.contenedor-producto {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.producto {
    border-radius: 10px;
    background: #dbdbdb;
}

.producto:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px 10px 0 0;
}

.producto img {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    transition: all .5s;
}

.producto figure {
    overflow: hidden; 
}

.producto:hover img {
    transform:  scale(1.2);
}

.info-producto {
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.precio {
    font-size: 18px;
    font-weight: 900;
}

.info-producto button {
    border: none;
    background: none;
    background-color: gold;
    border-radius: 30px;
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
}

.producto h2 {
    color: #333;
}

.producto p {
    font-style: italic;
    color: goldenrod;
}

/* ESTILOS DE LOS TARJETAS DE LOS PRODUCTOS ⬆️ */